/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
html {
	margin:0px;
    padding:0px;
    overflow: hidden;
}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:inherit;
    margin:0px;
    padding:0px;
    width:100%;
}
#defHeader.ui-header {
	position: fixed;
	width: 100%;
	background-color: #008080;
	border:0;
	padding:0px;
	min-height: 48px;
	overflow: hidden;
	text-shadow:none;
	color: white;
}
#defFooter.ui-footer {
	background-color: transparent;
	border:0;
	padding:0px;
	height: 48px;
	width: 100%;
	opacity: 1;
}
#defNavbar.ui-navbar li {
	border-bottom: 1px solid #ddd;
}
#defNavbar.ui-navbar a {
	height: 48px;
	line-height: 48px;
	padding: 0px;
	box-shadow: none;
}
#appmenu.ui-panel {
    width: 22em;
}
#appmenu.ui-panel-closed {
    width: 0;
}
#appmenu .ui-panel-position-left.ui-panel-display-reveal {
    left: 0;
}
#appmenu .ui-panel-inner {
	padding: 0px;
}
#appmenu .ui-panel-content-wrap-position-left.ui-panel-content-wrap-open,
.ui-panel-dismiss-position-left.ui-panel-dismiss-open {
    left: 22em;
    right: -22em;
}
#appmenu .ui-panel-animate.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal {
    left: 0;
    right: 0;
    -webkit-transform: translate3d(22em,0,0);
    -moz-transform: translate3d(22em,0,0);
    transform: translate3d(22em,0,0);
}
#home-page .ui-panel-animate.ui-panel-page-content-position-left {
    left: 0;
    right: 0;
    transform: translate3d(22em, 0px, 0px);
}
a#backbtn.ui-link, a#menubtn.ui-link, a#searchbtn.ui-link {
	padding: 0px;
	margin: 0px;
	display: inline;
	background-color: transparent;
	border: 0;
	position: relative;
	top: 0em;
	left: 0em;
	box-shadow: none;
}
#login-page input, #register-page input {
	/*background-image: url('../img/bg-overlay-40.png');*/
	padding: 11px 6px;
	color: #666;
	text-shadow:none;
	border: 1px solid #ddd;
	box-shadow: none;
}
#login-page div.ui-input-text, #register-page div.ui-input-text {
	background-color: transparent;
	border: 1px solid #008080;
	color: #666;
	box-shadow: none;
}
#login-page form .ui-focus, #register-page form .ui-focus {
	box-shadow: none;
}